In [22]:
import pandas as pd
import numpy as np

In [23]:
WHR = pd.read_csv('../Data/WHR2023.csv')
WHO = pd.read_csv('../Data/WHOMortalityData.csv')

In [24]:
def find_difference(WHR, WHO):
    whr_countries = set(WHR['Country name'].unique())
    who_countries = set(WHO['Country Name'].unique())
    matching_whr = {whr for whr in whr_countries for who in who_countries if whr.startswith(who)}
    matching_who = {who for who in who_countries for whr in whr_countries if who.startswith(whr)}
    whr_not_matched = pd.DataFrame({'Country Name': list(whr_countries - matching_whr)})
    who_not_matched = pd.DataFrame({'Country Name': list(who_countries - matching_who)})
    return whr_not_matched, who_not_matched

def match_names(WHR, WHO):
    whr_countries = WHR['Country name'].unique()
    map_to_whr = WHO['Country Name'].apply(lambda x: next((y for y in whr_countries if x.startswith(y)), x))
    WHO['Country Name'] = map_to_whr
    return WHO

WHO = match_names(WHR, WHO)

In [25]:
whr_not_matched, who_not_matched = find_difference(WHR, WHO)
whr_not_matched

                 Country Name
0                 Afghanistan
1                  Bangladesh
2                    Djibouti
3                     Bolivia
4                       Gabon
..                        ...
64               Burkina Faso
65                   Cambodia
66                 Mozambique
67  Hong Kong S.A.R. of China
68         State of Palestine

[69 rows x 1 columns]

In [26]:
who_not_matched

                        Country Name
0                            T?rkiye
1                           Barbados
2                           Dominica
3              Saint Kitts and Nevis
4                        Puerto Rico
5                         Cabo Verde
6                               Fiji
7   Saint Vincent and the Grenadines
8                Republic of Moldova
9                         Martinique
10                       Saint Lucia
11                           Grenada
12               Antigua and Barbuda
13                        Guadeloupe
14                           R?union
15                 Brunei Darussalam
16                        Seychelles
17                     French Guiana
18                           Mayotte
19                 Republic of Korea
20             Sao Tome and Principe
21                           Bahamas

In [27]:
# https://www.who.int/data/gho/data/countries

WHO['Country Name'] = WHO['Country Name'].replace('T?rkiye', 'Turkiye')
WHO['Country Name'] = WHO['Country Name'].replace('Republic of Korea', 'South Korea')
WHO['Country Name'] = WHO['Country Name'].replace('Republic of Moldova', 'Moldova')
WHO['Country Name'] = WHO['Country Name'].replace('R?union', 'France')
WHO['Country Name'] = WHO['Country Name'].replace('French Guiana', 'France')
WHO['Country Name'] = WHO['Country Name'].replace('Guadeloupe', 'France')
WHO['Country Name'] = WHO['Country Name'].replace('Martinique', 'France')
WHR['Country name'] = WHR['Country name'].replace('Hong Kong S.A.R. of China', 'China')
WHR['Country name'] = WHR['Country name'].replace('Taiwan Province of China', 'China')
WHR['Country name'] = WHR['Country name'].replace('Somalia', 'Somaliland region')

# WHO['Country Name'] = WHO['Country Name'].replace('Puerto Rico', 'United States')

In [28]:
whr_not_matched, who_not_matched = find_difference(WHR, WHO)
whr_not_matched

          Country Name
0          Afghanistan
1           Bangladesh
2             Djibouti
3              Bolivia
4                Gabon
..                 ...
58        Burkina Faso
59            Cambodia
60          Mozambique
61            Zimbabwe
62  State of Palestine

[63 rows x 1 columns]

In [29]:
who_not_matched

                        Country Name
0              Saint Kitts and Nevis
1                        Saint Lucia
2                         Seychelles
3                        Puerto Rico
4                            Mayotte
5              Sao Tome and Principe
6                            Grenada
7                         Cabo Verde
8                               Fiji
9                           Dominica
10                          Barbados
11               Antigua and Barbuda
12                           Bahamas
13  Saint Vincent and the Grenadines
14                 Brunei Darussalam

In [30]:
# Save to csv
WHR.to_csv('../Data/Clean/WHR2023-UpdatedNames.csv', index=False)
WHO.to_csv('../Data/Clean/WHOMortalityData-UpdatedNames.csv', index=False)